/* SignUp and Web Client colors*/
$PH-dark-blue: #152940;
$PH-dark-gray: #607d8b;
$PH-blue: #039be5;
$PH-green: #72bc4a;
$PH-yellow: #f7cc35;
$PH-dark-pink: #cc3467;
$PH-cyan: #4bc2c5;
$PH-white: #FFF;
$PH-gray: #d8dddf;
$PH-orange: #ff876b;
$PH-transparent: transparent;

/* tags and stuff*/
$PH-tag-orange: #ff6600;
$PH-tag-dark-oran: #f9a825;
$PH-tag-purple: #5c2583;
$PH-tag-gray: #f0f0f0;

$PH-ed-tile-circle: #00416a;

$PH-members-card-icon-gray: #c4ccd2;

$PH-green-status: #4caf50;
$PH-orange-status: #ffa95a;
$PH-gray-status: #97989e;
$PH-gray-border: #d3d3d3;

//header search box-shadow
$PH-search-dark-blue: #00152d;

//header search box icon overlay
$PH-search-icon-cyan: #00ccdf;

// sidebar group text color
$PH-sidebar-title: #bfcbd1;

// table canceled/error
$PH-table-border: #1d2529;
$PH-table-error: #ff001e;

// filter-back
$PH-back-link: #889ca6;

$PH-sidebar-border: #dfe5e8;

// profile information - Professional info - svg icon
$PH-attachment-icon: #cf1d29;

// subsection divider dotted
$PH-subsection-divider: #282828;

// page info - Admin Details - Current admins
$PH-admin-top: #cdd3d6;

// page info - pharmaceutical upload background
$PH-drag-drop: #9fb0b7;

// statistic background
$PH-back-stat: #eaeaea;

$PH-grey-filter: #7d94a0;
$PH-grey-filter-text: #a6b6be;

$PH-select-input: #f5f7f8;