@font-face {
	font-family: 'Arquette-Black';
	src: url('../fonts/ATCArquette-Black.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Black.woff') format('woff'), url('../fonts/ATCArquette-Black.ttf') format('truetype'),
		url('../fonts/ATCArquette-Black.svg#21034d51ec7208f5d2e125097294b9ae') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-BlackItalic';
	src: url('../fonts/ATCArquette-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-BlackItalic.woff') format('woff'),
		url('../fonts/ATCArquette-BlackItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-BlackItalic.svg#a558b1cf379e6cb73115e2501542a29b') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-Bold';
	src: url('../fonts/ATCArquette-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Bold.woff') format('woff'), url('../fonts/ATCArquette-Bold.ttf') format('truetype'),
		url('../fonts/ATCArquette-Bold.svg#f84f569d55fdc35f191273dbff51ef37') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Arquette-BoldItalic';
	src: url('../fonts/ATCArquette-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-BoldItalic.woff') format('woff'),
		url('../fonts/ATCArquette-BoldItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-BoldItalic.svg#ed458f30458684d0b0748ba9ddda0828') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Arquette-Extralight';
	src: url('../fonts/ATCArquette-Extralight.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Extralight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Extralight.woff') format('woff'),
		url('../fonts/ATCArquette-Extralight.ttf') format('truetype'),
		url('../fonts/ATCArquette-Extralight.svg#d32552607c3d68eaa67184e9c8fcb6f8') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Arquette-ExtralightItalic';
	src: url('../fonts/ATCArquette-ExtralightItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-ExtralightItalic.woff') format('woff'),
		url('../fonts/ATCArquette-ExtralightItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-ExtralightItalic.svg#bd651a990899b51640c8168c32524a37') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Arquette-Light';
	src: url('../fonts/ATCArquette-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Light.woff') format('woff'), url('../fonts/ATCArquette-Light.ttf') format('truetype'),
		url('../fonts/ATCArquette-Light.svg#a6fb0c0e18088e29d3eb6bbeee94bbae') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Arquette-LightItalic';
	src: url('../fonts/ATCArquette-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-LightItalic.woff') format('woff'),
		url('../fonts/ATCArquette-LightItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-LightItalic.svg#2425686e5838799b6dd1b9af3746acbc') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Arquette-Medium';
	src: url('../fonts/ATCArquette-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Medium.woff') format('woff'),
		url('../fonts/ATCArquette-Medium.ttf') format('truetype'),
		url('../fonts/ATCArquette-Medium.svg#fecd271ce2544b60bf6b08531fd21e27') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-MediumItalic';
	src: url('../fonts/ATCArquette-MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-MediumItalic.woff') format('woff'),
		url('../fonts/ATCArquette-MediumItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-MediumItalic.svg#0c0b5705d1fa63ed1d701612446fcc1a') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-Regular';
	src: url('../fonts/ATCArquette-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Regular.woff') format('woff'),
		url('../fonts/ATCArquette-Regular.ttf') format('truetype'),
		url('../fonts/ATCArquette-Regular.svg#689d80429f034b8355bcec672b8151a0') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-RegularItalic';
	src: url('../fonts/ATCArquette-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-RegularItalic.woff') format('woff'),
		url('../fonts/ATCArquette-RegularItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-RegularItalic.svg#51076445cc24ffac6198f32204b5f3e9') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Arquette-Semibold';
	src: url('../fonts/ATCArquette-Semibold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-Semibold.woff') format('woff'),
		url('../fonts/ATCArquette-Semibold.ttf') format('truetype'),
		url('../fonts/ATCArquette-Semibold.svg#f77ced0896e4a98987d43a3f8bea5da7') format('svg'); /* Legacy iOS */

	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Arquette-SemiboldItalic';
	src: url('../fonts/ATCArquette-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ATCArquette-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ATCArquette-SemiboldItalic.woff') format('woff'),
		url('../fonts/ATCArquette-SemiboldItalic.ttf') format('truetype'),
		url('../fonts/ATCArquette-SemiboldItalic.svg#235ed424cf7fdd93023611a822269dac') format('svg'); /* Legacy iOS */

	font-style: italic;
	font-weight: 700;
}



@font-face {
	font-family: "praxhub-icons";
	src:url("../fonts/praxhub-icons.eot");
	src:url("../fonts/praxhub-icons.eot?#iefix") format("embedded-opentype"),
	url("../fonts/praxhub-icons.woff") format("woff"),
	url("../fonts/praxhub-icons.ttf") format("truetype"),
	url("../fonts/praxhub-icons.svg#praxhub-icons") format("svg");
	font-weight: normal;
	font-style: normal;

}