* {
  box-sizing: border-box;
}

$ArquetteMedium: 'Arquette-Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
$ArquetteRegular: 'Arquette-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$ArquetteSemibold: 'Arquette-Semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$ArquetteBlack: 'Arquette-Black', "Helvetica Neue", Helvetica, Arial, sans-serif;


//a, button {
//  outline: none !important;
//}
//
//input, textarea, select {
//  box-shadow: none !important;
//  outline: none !important;
//}
